<div id="static_content">
  <p><b>Contestadors</b> allows its users to predict the outcome of the UEFA Euro 2012 Soccer Tournament for national squads,
    including the matches and tables of the 4 groups, the teams through to the various knockout stages, as well
    as the winner team. These predictions can be stored, updated and used in contests with other users
    as described in the following sections. </p>

  <p>All predictions must be set at least 5 minutes before the opening match of the championship,
    <b>Poland - Greece</b>, at <b>8th of June 2012, 18:00, local time (UTC+2)</b>.
  Until this time it is also possible to change the predictions as many times as desired.</p>

  <h4>Group stage predictions</h4>
  <p>The results of all group matches are to be predicted. For each predicted group, the resulting
    group table might be rearranged if
    two or more teams are predicted to be tied within the group, i.e., having the same amount of points
    and goal score.</p>

  <h4>Knockout stage predictions</h4>
  <p>For the knockout stages only the teams through to the various stages are to be predicted. Thus, for the
    matches of these stages the winner teams are to be specified, not the match results.</p>
  <p>Note that predictions for the knockout stages are dependent on the group predictions. Specifically, if
    changing the predictions for a group so that the winner and/or the runner up teams are changed, any
    knockout stage predictions will automatically be deleted. In this case the knockout stages must be predicted
    again to complete the predictions of the tournament.</p>
</div>