<div id="predictions">
  <%= form_for @aggregate.root, :as => @aggregate_root_type,
     :url => predictions_url(@contest.permalink, @aggregate_root_type, @aggregate_root_id),
     :html => {:id => @aggregate_root_type + "_form"} do |f| %>
    <%= render :partial => prediction_template(@contest.permalink, @aggregate_root_type), :locals => {:form => f} %>
  <% end -%>
</div>
