<div id="create_new_contest_link_container">
  <div class="icon_link">
    <%= link_to(image_tag("add.png"), new_contest_path(@contest.permalink, "admin")) %>
  </div>
  <div class="text_link">
    <%= link_to("Create a new Contest", new_contest_path(@contest.permalink, "admin"),
      (current_controller_new('contests') and current_action_new(["new", "create"]) ? {:class => "active"} : {})) %>
  </div>
</div>
