<% if @no_contests_message -%>
  <div id="no_contests">
    <%= @no_contests_message %>
  </div>
  <div id="contests"></div>
<% else -%>
  <div id="contests">
    <div class="contests_navigation">
      <%= render_navigation :context => :contestlist unless @contest_instances.empty? %>
    </div>
  </div>
<% end -%>