<% if @no_contests_message -%>
  <div id="no_contests">
    <%= @no_contests_message %>
  </div>
  <div id="contests"></div>
<% else -%>
  <div id="contests">
    <%= navigation :contests %>
  </div>
<% end -%>