/* -- Blueprint Overrides ------------------------------- */
/*#static_content a, #static_content a:visited {
    color: #f0542b;
}*/

#static_content a:hover {
    color: #41686a;
    background: #eee;
}

hr {
  margin-bottom:0.8em;
}
h1 {
  font-size:4.3em;
  font-weight:bold;
  margin-bottom:0.2em;
}
h2 {
  line-height:1.4;
}
h3 {
  font-weight:bold;
}
a, a:visited {
	text-decoration: none;
}
legend {
	font-size: 12px;
}
input.text {
  width:230px;
}
textarea {
  width:300px;
  height:150px;
}
label {
  color: #9a9a9a;
  font-style: italic;
  font-weight: normal;
}
em {
  color: #9a9a9a;
  font-style: italic;
}


/* Top & Header */
#top {
  z-index: 2;
  display: block;
  height: 60px;
  width:290px;
  float:left;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
}

#top h1#logo {
	/*padding: 0px 16px 0;*/
	margin: 0;
        color: #333;
	font: bold 3em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -1px;
	text-transform: lowercase;
	top: 0; left: 10px;
}
#top a:hover {
    background: #fff;
}
#top h1#logo span.gray  {	color: #41686a; }

#top_center {
    z-index: 1;
    display: block;
    background: #fff;
    height: 20px;
    width:400px;
    float:left;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
/*    padding: 5px 0px 0px 10px;
    margin: 40px 0px 0px 350px;*/
    font: bold italic 3em 'Trebuchet MS', Arial, Sans-serif;
    letter-spacing: -1px;
    text-transform: lowercase;
}
#top_center h3#slogan {
	font: italic 50% Verdana,sans-serif;
	color: #3b3b3b;
	/*padding-left:100px;*/
}
#top_center h3#slogan span.slogan-blue {
	color:/*#9cbcda;*/#41686a;
	/*padding-left: 0px;*/
}

#header {
/*  background: #9cbcda;
  border-bottom: 1px #88c6cf solid;*/
  background: #fff;
  float:left;
  width:910px;
  min-height:75px;
  /*clear: both;*/
  display: block;
  padding: 0px 20px 10px 20px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* -- Navigation --------------------------- */
#top_right {
  float: right;
  text-align: right;
  width:500px;
  display: block;
  padding-top: 20px;
  z-index: 3;
}

#top_right_login {
  float: right;
  text-align: right;
  width:320px;
  display: block;
  padding: 0px 5px 15px 0px;
  z-index: 3;
}

#top_right_login td {
  padding: 0px 0px 0px 2px;
}

#top_right_login input {
    width:125px;
}

#top_right_login input[type="submit"] {
    width:55px;
}

#top_right_login #forgot_password_link {
  float:left;
  /*margin-left: 180px;*/
}

/*#top_right a, #top_right a:visited {
    color: #f0542b;
}*/

#top_right a:hover, #top_right a:hover {
    color: #41686a;
    /*background: #eee;*/
}

#top_right_login a:hover {
    background: #eee;
}

#nav{
/*  width: auto;
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;*/
}
#nav ul {
  display: inline;
}
#nav ul li {
	display: inline;
	margin: 0;
	padding: 3px;
	font-weight: bold;
        color:#41686a;
}

#nav ul li a.active {
	color: #000000;
}

#nav ul li a:hover {
  background: #fff;
}

/* -- Progress ----------------------------- */
div.progress {
  float:right;
  width: 270px;
  font-weight:bold;
  color: #41686a;
  padding-right: 20px;
    margin-top: 2px;
  /*padding-top: 2px;*/
}

div.progresslabel {
    margin: 1px 0 0 10px;
    float:left;
}

div.progressbar {
 border: 1px solid #ccc;
 width: 180px;
 margin: 2px 0px 1px 0;
 padding: 1px;
 float: right;
 background: white;
}

div.progressbar > div {
 height: 12px;
 float: left;
}

div.progressbar > div.progressbar_color_0 { background-color: /*#ACE97C;*/#9CC089; }

/* -- Content ------------------------------ */
#content {
  float:left;
  width:910px;
  margin: 1px 20px 20px 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
#content p img {
  margin-top: 2px;
  margin-right: 8px;
}
#main {
  float:left;
  width:550px;
}
#sub {
  width:310px;
  padding: 15px;
  margin: 0px 0px 10px 20px;
  float:right;
}
.half {
  float: left;
  width: 455px;
}

/* -- Footer ------------------------------- */

#footer {
  margin: 0px 20px 0px 20px;
  clear: both;
  float: left;
  width:910px;
  padding-top: 10px;  
  border-top: 1px #88c6cf solid;
}

#footer-contents-left {
  float: left;
  width:300px;
}
#footer-contents-center {
  float: left;
  width:300px;
  text-align: center;
}
#footer-contents-right {
  float: right;
  width:300px;
  text-align: right;
}

/*#footer-1 a, #footer-1 a:visited, #footer-2 a, #footer-2 a:visited {
    color: #f0542b;
}*/

#footer-1 a:hover, #footer-2 a:hover {
    color: #41686a;
    background: #eee;
}

/* -- Flashes ------------------------------ */
#message_bar {
    min-height: 20px;
    clear: both;
    background: #eee;
    padding: 7px 20px 5px 20px;
}
.flash_alert, .flash_recaptch_error {
  color: #333;
	background: #fee;
	border: solid 1px #db7;
}
.flash_alert .message, .flash_recaptch_error .message {
	padding: 0 0 0 25px;
}
.flash_notice {
	color: #333;
	background: #efe;
	border: solid 1px #bd7;
}
.flash_notice .message {
	padding: 0 0 0 25px;
}

/*#message_bar a, #message_bar a:visited {
    color: #f0542b;
}
*/
#message_bar a:hover, #message_bar a:hover {
    color: #41686a;
    background: #efe;
}

/* -- Predictions -- */
#login, #registration {
   /*clear: left;*/
  /*margin-left: 10px;*/
   float: right;
   width:360px;
   /*padding-left: 40px;*/
}
#login iframe {
    /*margin-left: 40px;*/
}

#login h4 {
color: #444;
font-family:Verdana, Helvetica, Arial;/* 'Trebuchet MS',Arial,Helvetica,sans-serif;*/
font-size: 17px;
/*font-weight: bold;*/
line-height: 35px;
padding-left: 40px;
/*text-transform: capitalize;*/
}
#login p {
   padding-left: 40px;
   font-size: 120%;
   font-weight: bold;
}
#login p a:hover {
    background: #eee;
}
#login form, #login h2, #registration form, #registration h2 {
    padding-left: 5px;
}

/* -- Predictions -- */
#predictions {  
/*  clear: both;
  float: left;*/
  overflow: hidden;
  width:910px;
}

/* -- Group predictions ------------------------------- */
#matches {
  width:450px;
  display: block;
  padding-top: 10px;
  /*overflow:hidden;*/
}
.match {
  width:445px;
  color:black;
}
.match_validation_error {
   width:445px;
   color:red;
}
.home_team_name {
  width:90px;
  font-weight:bold;
  float: left;
}
.away_team_name {
  width:90px;
  font-weight:bold;
  padding-left:20px;
/*  text-align:right;*/
  float: left;
}
.team_icon {
  width:35px;
  height:20px;
  max-height:20px;
  overflow: hidden;
  margin: 3px -7px 5px 5px;
  float: left;
}
.team_score {
  width:30px;
  float: left;
}
.score-separator {
    width:5px;
    float:left;
    margin-right:5px;
    text-align: center;
    font-size:120%;
}

.team_score input {
  width:20px;
  text-align: right;
}
.match_score {
  width:65px;
  text-align: center;
  float: left;
  font-size:110%;
/*  font-weight: bold;
  color: #41686a;*/
}

.space-line {
    clear:left;    
}

.match_date {
    width:100px;
    float:left;
    font-weight:bold;
    color: #41686a;
}

.knockout_stage_match_container .match_date {
    margin-left: 34px;
}

/* Group styling */
#group {
  width: 910px;
  /*margin-top: 10px;*/
  clear: both;
}

#group_table_container {
  width:440px;
  float: right;
  display: block;
  height: 200px;
}

#group_table {
  width:435px;
  /*border: 1px #88c6cf solid;*/
  /*border: 1px #ffffff solid;*/
  overflow: hidden;
  height: 175px;
  max-height: 175px;
}

.group_table_rearrangable {
  width:430px;
  margin-top: 5px;
  color: #41686a;
  font-style: italic;
}

#not_predicted {
    background-color: #efefef;
    width:440px;
    opacity: .5;
    position: absolute;
    margin: 0px;
    padding-top: 60px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    padding-bottom: 80px;
    color: #52797b;
    font-size:3.3em;
    font-weight:bold;
    z-index: 2;
}

#group_table_rows {
    position: absolute;
    z-index: 1;
}

.group_table_promotion_position {
  width: 438px;
  margin: 0px 0px 0px 0px;
  height: 34px;
  background: /*#efe;*/#D8F3C9;
  /*border-top: 1px #88c6cf solid;*/
  border-right: 1px #ffffff solid;
  border-left: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  font-weight: bold;
}

.group_table_non_promotion_position {
  width: 438px;
  margin: 0px 0px 0px 0px;
  height: 34px;
  background: /*#fee;*/#FDE8D7;
  /*border-top: 1px #88c6cf solid;*/
  border-right: 1px #ffffff solid;
  border-left: 1px #ffffff solid;
  border-bottom: 1px #ffffff solid;
  color:#41686a;
}

.group_table_header {
  width: 440px;
  margin: 0px 0px 0px 0px;
  padding-top: 1px;
  height: 34px;
  background: /*#dff6f1;*/#ffffff;
  color: #333;
  font-weight: bold;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.group_table_pos {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding:9px 0px 0px 5px;
}

.pld_matches, .won_matches, .draw_matches, .lost_matches, .goals_for, .goals_against, .goal_diff, .group_table_pts, .group_table_element_handler {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding-top:9px;
}

.group_table_edit_header {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding-top:9px;
  padding-left:3px;
  color: #41686a;
}

.group_table_edit {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding-left:3px;
}

.group_table_edit_move_down {
   padding-top:10px;
   width: 10px;
   float:left;
   position:relative;
}

.group_table_edit_move_up {
   padding-top:10px;
   width: 10px;
   float:right;
   position:relative;
}

.group_table_team_name {
  width: 145px;
  text-align: left;
  float: left;
  height: 25px;
  padding-top:9px;
}
.group_table_team_name_header {
  width: 110px;
  text-align: left;
  float: left;
  padding-left: 35px;
  height: 25px;
  padding-top:9px;
}


/* -- Navigation menus styling ------------------------------- */
.main_tabnav {
	color: #000;
        background: #fff;
        clear: both;
	padding: 2px 0px 0px 0px;
        font-size: 110%;
}

.main_tabnav ul {
        margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
/*        height: 23px;
        min-height: 23px;*/
        list-style-type: none;
}

.main_tabnav li {
	display:inline;
        margin: 0px 0px 0px 10px;
	list-style-type: none; 
/*        height: 23px;
        min-height: 23px;*/
}

.main_tabnav li span.disabled {
        color: #888888;
        background: #FAFAFA;
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;}

#nav a.selected, #footer a.selected  {
    color: #3B3B3B;
}

.main_tabnav a.selected {
        padding: 3px 10px 3px 10px;
	color: #ffffff;
	background: #9cbcda;/*88c6cf*/
	margin: 0;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        /*padding: 3px 5px 3px 6px;*/
        /*border-top: 1px solid #88c6cf;*/
        /*border-right: 1px solid #88c6cf;*/
	text-decoration: none;
}

.main_tabnav a {
        font-weight: bold;
/*        height: 23px;
        min-height: 23px;*/
	margin: 0;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        /*padding: 3px 5px 3px 6px;*/
        /*border-top: 1px solid #88c6cf;*/
        /*border-right: 1px solid #88c6cf;*/
	text-decoration: none;
        padding: 3px 10px 1px 10px;
        /*border-bottom: 1px solid #88c6cf;*/
}



.main_tabnav a:hover {
	color: #41686a;
	background: #fff; }

/*.main_tabnav a:visited {
	color: #000000; }*/

.main_tabnav a.selected:hover {
	color: #ffffff;
        background: #9cbcda;}

.main_tabnav_content {
	background: #9cbcda;
	padding: 0px;
        height: 23px;
        min-height: 23px;
}

.submenu_tabnav {
	color: #000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
        overflow: hidden;
}

.submenu_tabnav ul {
	margin: 0px;
	padding: 2px 0px 0px 0px;
}

.submenu_tabnav li {
	display: inline;
	overflow: hidden;
        padding-right: 2px;
/*        margin: 15px 2px 15px 0px;
        padding: 0px 0px 0px 0px;*/
	list-style-type: none; }

.submenu_tabnav li span.disabled {
        color: #888888;
        /*background: #FAFAFA;*/
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;}

.submenu_tabnav a, .submenu_tabnav a.selected {
	background: #9cbcda;
	font-weight: bold;
	padding: 3px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	text-decoration: none; }

.submenu_tabnav a.selected {
	color: #ffffff;
        background: #9cbcda; }

.submenu_tabnav a:hover {
	color: #41686a;
	background: #9cbcda; }

/*.groups_tabnav a:visited {
	color: #000000; }*/

.submenu_tabnav a.selected:hover {
	color: #ffffff; }

/***/

#contests, #invitations {
    overflow:hidden;
    clear: both;
   width: 910px;
   z-index: 1;
   min-height: 35px;
/*   height: 100px;
   min-height: 100px;*/
   /*margin: 0px 10px 0px 10px;*/
}

#no_contests, #no_invitations {
    background-color: #efefef;
    width: 910px;
    opacity: .5;
    position: absolute;
    margin: 0px 20px 0px 0px;
    /*padding-top: 60px;*/
/*    height: 35px;
    max-height: 35px;*/
    text-align: center;
    /*padding-bottom: 80px;*/
    border: 1px #52797b solid;
    color: #52797b;
    font-size:1.8em;
    font-weight:bold;
    z-index: 2;
}

#contests p {
  margin-top: 5px;
  color: #41686a;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

#contest_details {
   float: right;
   width: 610px;
   /*height: 100px;*/
   min-height: 45px;
   background: #fff;
   border: 1px #88c6cf solid;
/*   height: inherit;*/
   display: block;
   /*margin: 0px 10px 0px 10px;*/
}

#contest_details p {
  color:#41686a;
  font-weight: bold;
}

#contest_invitations_form_container {
   padding: 10px 0px 10px 50px;
   background: #fff;/*#9cbcda;*/
   border: 1px #88c6cf solid;
/*   height: inherit;*/
   display: block;
}

#previous_contest_participants {
  margin-bottom: 20px;
}

#previous_contest_participants select {
  margin-left: 20px;
  width: 415px;
}

#contest_invitations {
   margin-bottom: 20px;
}

/*#contest_invitations_form_container h3 {
    text-align:center;
}*/

.contest_invitation, .invalid_contest_invitation {
   margin-bottom: 10px;
}

.contest_invitation input, .invalid_contest_invitation input {
    margin-right: 30px;
    max-width: 300px;
}

.invalid_contest_invitation label {
    color:red;
}

#create_contest_form_container {
   padding: 10px 0px 10px 50px;
   background: #fff;/*#9cbcda;*/
   border: 1px #88c6cf solid;
/*   height: inherit;*/
   display: block;
}

#create_contest_form_container a:hover {
    background: #fff;
}

#create_contest_form_container td {
    vertical-align: top;
}

#create_contest_form_container form label {
   text-decoration: none;
   font-style: normal;
   /*padding-right: 10px;*/
   font-size: 110%;
}

#create_contest_form_container form table textarea {
   width: 600px;
   height: 60px;
   border: solid 1px #DFDFDF !important;
}

#create_contest_form_container form table #char_counter_monitor {
    /*padding-bottom: px;*/
}

#create_contest_form_container form table tbody tr td table#recaptcha_table {
   width: 612px;
}

#create_contest_form_container form table tbody tr td.invalid label,
#account_edit form table tbody tr td.invalid label {
    color:red;
}

#create_contest_form_container form table tbody tr td.recaptcha_label {
   color: #41686a;
   font-weight: bold;
   font-size: 110%;
}

#create_contest_form_container form table tbody tr td.invalid_recaptcha_label {
   color: red;
   font-weight: bold;
   font-size: 110%;
}

#create_new_contest_link_container {
float: left;
width: 910px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
-khtml-border-radius: 7px;
margin: 1px 20px 1px 0px;
background: white;
font-weight: bold;
min-height: 25px;
}

#create_new_contest_link_container div.icon_link,
#add_invitation_link_container div.add_image {
   float: left;
   padding-left: 5px;
   width: 25px;
   display:block;
}

.edit_options div.icon_link {
   float: left;
   margin-top: 2px;
   /*padding-left: 5px;*/
   width: 15px;
   margin-left: 5px;
   display:block;
}

#create_new_contest_link_container div.text_link {
  float: left;
  margin-top: 2px;
  font-size: 14px;
}

.edit_options div.text_link {
   margin-left: 2px;
   /*font-size: 110%;*/
}

/*#create_new_contest_link_container div.text_link a,
#create_new_contest_link_container div.text_link a:visited {
   display:block;
   color: #f0542b;
}*/

#create_new_contest_link_container div.text_link a:hover {
  color: #41686a;
  background: #fff;
}

#create_new_contest_link_container div.text_link a.active {
  color: #000;
  background: #fff;
}

form.contest_create {
    display: inline;
    /*margin: 3px 0px 5px 5px;*/
}

#add_invitation_link_container {
  margin: -10px 20px 20px 10px;
  background: #fff;
  font-weight: bold;
  clear:both;
  display: block;
}

#add_invitation_link_container div.text_link {
    padding: 0px 0px 5px 5px;
}

/*#add_invitation_link_container div.text_link a,
#add_invitation_link_container div.text_link a:visited {
   color: #f0542b;
}*/

#add_invitation_link_container div.text_link a:hover {
  color: #41686a;
  background: #fff;
}




.contests_navigation {
  display: block;
}

.contests_navigation ul {
  padding: 0;
  margin: 0;
  background: #ffffee;
  text-align: left;
  list-style: none;
  border-top: 1px #88c6cf solid;
}

.contests_navigation li {  
  border-left: 1px #88c6cf solid;
  border-right: 1px #88c6cf solid;
  border-bottom: 1px #88c6cf solid;
}

.contests_navigation a, .contests_navigation a:visited, .contests_navigation a:hover {
  border: none;
  min-height: 25px;
  padding: 7px 0px 3px 10px;
  /*margin: 5px 0px -5px 5px;*/
  font-weight: normal;
/*  color: #CB4415;*/
  display:block;
  font-size: 110%;
}

.contests_navigation a:hover {
/*  font-weight: normal;*/
  color: #41686a;
  background: #fff;
}

.contests_navigation a.selected, .contests_navigation a.selected:hover {
  /*font-weight: bold;*/
  /*font-size: 110%;*/
  font-weight: bold;
  background: /*#dff6f1;*/#D8F3C9;
  color: #000;
}

.contests_navigation ul li .contest_details {
    /*min-width: 300px;*/
    /*padding-left: 300px;*/
    color: #41686a;
    opacity: .8;
    text-align: right;
    /*z-index: 2;*/
    margin: 0px 0px -18px 0px;
    padding: 0px 20px 0px 0px;
    float:right;
    /*padding-bottom: 5px;*/
    /*display: inline;*/
}

/* Spiffy/rounded corners styling*/
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#9cbcda}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #e5eeff;
  border-right:1px solid #e5eeff;
  background:#d2e2ff}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f9fbff;
  border-right:1px solid #f9fbff;
  background:#cee0ff}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #cee0ff;
  border-right:1px solid #cee0ff;}
.spiffy4{
  border-left:1px solid #e5eeff;
  border-right:1px solid #e5eeff}
.spiffy5{
  border-left:1px solid #d2e2ff;
  border-right:1px solid #d2e2ff}
.spiffyfg{
  padding: 0 5px;
  background:#9cbcda}

/*--- Knockout stage styling. ---*/
.knockout_stages {
  width: 910px;
  clear: both;
}

.euro_knockout_stages {
  width: 910px;
  clear: both;
  margin-left: 90px;
}

.knockout_stage_container {
  width: 208px;
  float: left;
}

.championship_winner_predicted {
    width: 908px;
    height: 35px;
    background: #E5ECF9;
    clear: both;
    margin: 10px 0px 10px 0px;
    padding-top: 7px;
    color: #333;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    float: right;
    display: block;
    border: 1px #CCC solid;
}

.championship_winner_unpredicted {
    width: 908px;
    height: 35px;
    background: #DDD;
    clear: both;
    margin: 10px 0px 7px 0px;
    padding-top: 10px;
    color: #333;
    font-weight: normal;
    font-size: 140%;
    text-align: center;
    vertical-align: middle;
    float: right;
    display: block;
    border: 1px #CCC solid;
}

.selected_knockout_stage_label {
  width: 205px;
/*  padding-right: 3px;*/
  margin: 0px 0px 15px 0px;
  /*padding-left: 30px;*/
  height: 30px;
  background: /*#dff6f1;*/#D8F3C9;
  /*border: 1px #88c6cf solid;*/
/*  background: #dff6f1;#D8F3C9;
  background-image: url(/images/disk.png);
  background-position: 150px 7px;
  background-repeat:no-repeat;*/
  color: #333;
  font-weight: bold;
  font-size: 110%;
  text-align: left;
  vertical-align: middle;
  float: right;
  display:block;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.text_label {
    float:left;
    margin: 5px 0px 0px 30px;
    /*width: 115px;*/
}

.edit_options {
    float:right;
    margin: 5px 5px 0px 0px;
    width: 50px;
}

.selected_knockout_stage_label input#stage_submit {
   float:right;
}

.unsaveable_selected_knockout_stage_label {
  width: 205px;
/*  padding-right: 3px;*/
  margin: 0px 0px 15px 0px;
  height: 24px;
  /*border: 1px #88c6cf solid;*/
  background: /*#dff6f1;*/#D8F3C9;
/*  background-position: 180px 3px;
  background-repeat:no-repeat;*/
  color: #333;
  font-weight: bold;
  font-size: 110%;
  text-align: left;
  vertical-align: middle;
  float: right;
  display:block;
}

.knockout_stage_label {
  width: 205px;
/*  padding-right: 3px;*/
  margin: 0px 0px 15px 0px;
  /*padding-left: 30px;*/
  height: 30px;
/*  border: 1px #ccc solid;*/
  background: #ddd;
/*  background-image: url(/images/page_white_edit.png);
  background-position: 180px 4px;
  background-repeat:no-repeat;*/
  color: #333;
  font-weight: bold;
  font-size: 110%;
  text-align: center;
  vertical-align: middle;
  float: right;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.uneditable_knockout_stage_label {
  width: 205px;
  margin-bottom: 15px;
  /*padding: 0px 0px 5px 30px;*/
/*  padding-right: 3px;*/
  height: 24px;
/*  border: 1px #ccc solid;*/
  background: #ddd;
/*  background-position: 180px 3px;
  background-repeat:no-repeat;*/
  color: #41686a;
  font-weight: bold;
  font-size: 110%;
  text-align: left;
  vertical-align: middle;
  float: right;
}

.unsaveable_selected_knockout_stage_label .text_label,
.uneditable_knockout_stage_label .text_label {
    float:left;
    margin: 0px 0px 0px 30px;
    /*width: 115px;*/
}

.undeceided_knockout_stage_label {
  width: 205px;
    /*  padding-right: 3px;*/
  margin: 0px 0px 15px 30px;
    /*padding-left: 30px;*/
  height: 30px;
  /*border: 1px #ccc solid;*/
  background: #ddd;
  color: #41686a;
  font-weight: bold;
  font-size: 110%;
  text-align: left;
  vertical-align: middle;
  float: right;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.knockout_stage_edit_options {
   clear:both;
   display:block;
   width: 205px;
   height: 25px;
   min-height: 25px;
   /*float:right;*/
}

.knockout_stage_edit_options input {
    float: right;
}

.selected_knockout_stage_label a, .selected_knockout_stage_label a:visited,
.knockout_stage_label a, .knockout_stage_label a:visited {
/*   color: #f0542b;#B96A9A;*/
   /*display:block;*/
   float:right;
/*  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  future proofing 
  -khtml-border-radius: 5px;*/
}

.knockout_stage_label a:hover {
   background: #ddd;
   color: #41686a;
   height: 24px;
}

.selected_knockout_stage_label a:hover {
   background: #D8F3C9;
   color: #41686a;
   height: 22px;
}

.knockout_stage_match_container {
  width: 208px;
  display:block;
  float: right;
}

.knockout_stage_match {
   width: 206px;
   height: 48px;
   max-height: 48px;
/*   border-top: 1px #88c6cf solid;
   border-left: 1px #88c6cf solid;
   border-right: 1px #88c6cf solid;*/
   border-top: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #ccc solid;
   overflow: hidden;
   float:right;
   margin: 0px 0px 5px 0px;
}

#predicted_knockout_stage_match {
    background-color: #efefef;
    width: 206px;
    height: 48px;
    max-height: 48px;
    opacity: .5;
    position: absolute;
    margin: 0px inherit;/*
    padding-top: 60px;
    text-align: center;
    padding-bottom: 80px;
    color: #52797b;
    font-size:3.3em;
    font-weight:bold;*/
    z-index: 2;
}

.knockout_stage_team {
  width: 206px;
  float: left;
  height: 23px;
  /*border-bottom: 1px #88c6cf solid;*/
  border-bottom: 1px #ccc solid;
  background: /*#efe;*//*#D8F3C9;*/#fff;
  color: black;
  text-align: left;
}

.winning_knockout_stage_team {
  width: 206px;
  float: left;
  height: 23px;
  /*border-bottom: 1px #88c6cf solid;*/
  border-bottom: 1px #ccc solid;
  background: /*#efe;*//*#D8F3C9;*/#e5ecf9;
  color: black;
  font-weight: bold;
  text-align: left;
}

.losing_knockout_stage_team {
  width: 206px;
  float: left;
  height: 23px;
  /*border-bottom: 1px #88c6cf solid;*/
  border-bottom: 1px #ccc solid;
  background: /*#fee;*//*#FDE8D7;*/#ffffee;
  color: #41686a;
  text-align: left;
}

.invalidated_knockout_stage_team {
  width: 206px;
  float: left;
  height: 23px;
  /*border-bottom: 1px #88c6cf solid;*/
  border-bottom: 1px #ccc solid;
  background: #ddd;
  color: #41686a;
  text-align: left;
}

.knockout_stage_team_selection {
    float: right;
    /*border-left: 1px #88c6cf solid;*/
    border-left: 1px #ccc solid;
    height: 23px;
    width: 23px;
    padding: 6px 0px 0px 10px;
}

.undecided_knockout_stage_match {
   width: 208px;
   height: 48px;
   max-height: 48px;
   border-top: 1px #ccc solid;
   border-left: 1px #ccc solid;
   border-right: 1px #ccc solid;
   overflow: hidden;
   float:right;
   margin: 0px 0px 5px 0px;
}

.undecided_knockout_stage_team {
  width: 208px;
  float: left;
  height: 23px;
  border-bottom: 1px #ccc solid;
  background: #ddd;
  color: #41686a;
  text-align: left;
  padding-left: 35px;
}

.knockout_stage_matches_spacer_1 {
   width: 200px;
   height: 71px;
   min-width: 71px;
   overflow: hidden;
   float: right;
   display: block;
}

.knockout_stage_matches_spacer_2 {
   width: 200px;
   height: 45px;
   min-height: 45px;
   overflow: hidden;
   float: right;
   display: block;
}

.knockout_stage_matches_spacer_3 {
   width: 200px;
   height: 35px;
   min-height: 35px;
   overflow: hidden;
   float: right;
   display: block;
}

.next_stage_qualification_container {width: 25px;float: left;margin-top: 16px;}
.to_stage_column {float: right;width: 12px;}
.from_stage_column {float: left;width: 13px;}
.qualification_spacer_1 {height: 71px; min-height:  71px;display: block;}
.qualification_spacer_2 {height: 106px;min-height: 106px;display: block;}
.qualification_spacer_3 {height: 142px;min-height: 142px;display: block;}
.qualification_spacer_4 {height: 177px;min-height: 177px;display: block;}
.qualification_spacer_5 {height: 320px;min-height: 320px;display: block;border-bottom: 1px #88c6cf solid;}
.qualification_spacer_6 {height: 176px;min-height: 176px;display: block;border-bottom: 1px #88c6cf solid;}
.to_quarter_final {height: 142px;min-height: 142px;display: block;border-top: 1px #88c6cf solid;border-bottom: 1px #88c6cf solid;}
.to_semi_final {height: 284px;min-height: 284px;display: block;border-top: 1px #88c6cf solid;border-bottom: 1px #88c6cf solid;}
.from_round_of_16 {height: 71px;min-height:71px;display: block;border-top: 1px #88c6cf solid;border-bottom: 1px #88c6cf solid;border-right: 1px #88c6cf solid;}
.from_quarter_final {height: 142px;min-height:142px;display: block;border-top: 1px #88c6cf solid;border-bottom: 1px #88c6cf solid;border-right: 1px #88c6cf solid;}
.from_semi_final {height: 284px;min-height: 284px;display: block;border-top: 1px #88c6cf solid;border-bottom: 1px #88c6cf solid;border-right: 1px #88c6cf solid;}

.sortableTable {
  border: 1px solid #88c6cf;
/*  background-image:url(../images/logo_opaque.png);*/
  background-position: center;
  background-repeat:no-repeat;
  background-color: #fff;
}

.sortableTable td {
  font-size: .95em;
  padding: 3px 6px;
  color: #101010;
/*	border-bottom: 1px solid #999;*/
}

.sortableTable tr.tableHeaderRow td {
  color: #3b3b3b;
  background: #ddd;
	/*border-top: 1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.sortableTable tr.tableHeaderRow td.sortup {
	background-color: #9cbcda;
  background-image:url(/images/arrow_down.png);
	background-position: right center;
	background-repeat:no-repeat;

}

.sortableTable tr.tableHeaderRow td.sortdown {
	background-color: #9cbcda;
        background-image:url(/images/arrow_top.png);
	background-position: right center;
	background-repeat:no-repeat;
}

#invitations_count {
    float:right;
    margin-top: -20px;
    font-weight: bold;
    color: #41686a;
}

#account_edit {
  /*width: 910px;*/
  /*margin-top: 10px;*/
  overflow: hidden;
   padding: 10px 0px 10px 50px;
   background: #fff;/*#9cbcda;*/
   border: 1px #88c6cf solid;
/*   height: inherit;*/
   clear: both;
   /*height: 100px;*/
}

#account_edit_menu {
    width: 200px;
    float: left;
    /*clear: both;*/
    display: block;
}

#account_edit_area {
    width: 650px;
    min-height: 265px;
    float: right;
    display: block;
    /*clear: both;*/
}

#account_edit_area a:hover {
    background: #fff;
}

.account_edit_navigation {
  display: block;
  font-size: 120%;
  /*padding-right: 20px;*/
}

.account_edit_navigation ul {
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  text-align: left;
  list-style: none;
}

.account_edit_navigation li {
    /*display:inline;*/
    /*margin: 0px 0px 0px 0px;*/
    list-style-type: none;
    min-width: 100px;
/*   background: #9cbcda;
    font-weight: bold;
    min-height: 25px;
    min-width: 100px;
    margin: 3px 10px 1px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px 10px 1px 10px;*/
}

.account_edit_navigation a, .account_edit_navigation a:visited, .account_edit_navigation a:hover {
        min-height: 25px;
        line-height: 25px;
    /*background: #9cbcda;*/
    font-weight: bold;
    min-height: 25px;
    min-width: 100px;
    margin: 0px 10px 5px 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px 10px 1px 10px;
    display: block;
}

.account_edit_navigation a:hover {
/*  font-weight: normal;*/
  color: #41686a;
}

.account_edit_navigation a.selected, .account_edit_navigation a.selected:hover {
  /*font-weight: bold;*/
  /*font-size: 110%;*/
  background: #9cbcda;
  font-weight: bold;
  /*background: #dff6f1;#D8F3C9;*/
  color: #000;
  padding: 3px 10px 3px 10px;
  color: #ffffff;
}

.warning_message {
  color: #333;
	background: #fee;
	border: solid 1px #db7;
  margin-right: 10px;
  padding: 3px 10px 3px 10px;
}

.notice_message {
    color: #333;
    background: #efe;
    border: solid 1px #bd7;
    margin: 10px 10px 0 0;
    padding: 3px 10px 3px 10px;
}

#picture-background-wallpaper {
   overflow: hidden;
   width: 910px;
   min-height: 550px;
   background: url(/images/cheeringcrowd_original.jpg) repeat;
   margin: 0px;
   padding: 0px;
}

#transbox_outer_frame {
  width: 910px;
   min-height: 550px;
  padding: 10px 30px 10px 30px;
  background-color: #ffffff;
  filter:alpha(opacity=85);
  opacity:0.85;
  -moz-opacity:0.85;
}

#prediction_summary_container {
   padding: 10px 30px 10px 30px;
   background: #fff;/*#9cbcda;*/
   border: 1px #88c6cf solid;
/*   height: inherit;*/
   display: block;
}

#prediction_summary_container h3 {
   /*text-align: center;*/
}

.two_predicted_groups {
   width: 850px;
   margin-bottom: 20px;
   display: block;
}

.one_predicted_group {
  width: 420px;
  margin: 0px 5px 30px 0px;
  float: left;
}
.predicted_matches {
  width: 290px;
  margin-right: 10px;
  float: left;
}
.predicted_match {
  margin: 0px 0px 3px 0px;
  display: block;
}
.predicted_match_time {
  width: 90px;
  float: left;
}
.predicted_match_teams {
  width: 170px;
  float: left;
  /*font-weight:bold;*/
}
.predicted_match_score {
  width: 30px;
  float: left;
}
.predicted_table {
  width: 110px;
  /*margin-right: 10px;*/
  float: right;
  /*font-weight:bold;*/
  font-size: 110%
}

.all_predicted_stages {
   width: 850px;
   margin-bottom: 20px;
   /*display: block;*/
   clear: both;
}
.one_predicted_stage {
  width: 280px;
  margin: 0px 0px 30px 0px;
  float: left;
  display: block;
  font-size: 110%
  /*height: 420px;*/
  /*clear: both;*/
}

#transbox_outer_frame h3#match span.black,
#transbox_outer_frame h3#summary span.participant {
    margin: 0px 10px 0px 20px;
    color: #333;}

#transbox_outer_frame h4#description {
    font-weight: bold;
    color: #41686a;
}

#transbox_outer_frame div.description {
    font-weight: bold;
    color: #41686a;
    /*width: 100%;*/
    float:left;
    margin: 0px 0px 20px 0px;
    font-size: 115%;
}

#transbox_outer_frame div.description span.black {
    color: #333;
}

.participants_predictions {
   width: 850px;
   margin-bottom: 30px;
   display: block;
   float: left;
   /*clear: both;*/
}

.participant_prediction {
  width: 240px;
  margin: 0px 40px 7px 0px;
  float: left;
  display: block;
  font-size: 110%
}

.objectives_meet {
}
.objectives_meet_0 {
    color: red;
}
.objectives_meet_1 {
    color:green;
}
.objectives_meet_2 {
    color:green;
    font-weight: bold;
}

.participant_name {
    width: 210px;
    float: left;
}

.participant_predicted_value {
    width: 30px;
    float: left;
}
