/* -- Blueprint Overrides ------------------------------- */
hr {
  margin-bottom:0.8em;
}
h1 {
  font-size:4.3em;
  font-weight:bold;
  margin-bottom:0.2em;
}
h2 {
  line-height:1.4;
}
h3 {
  font-weight:bold;
}
a, a:visited {
	text-decoration: none;
}
legend {
	font-size: 12px;
}
input.text {
  width:230px;
}
textarea {
  width:300px;
  height:150px;
}
label {
  color: #9a9a9a;
  font-style: italic;
  font-weight: normal;
}
em {
  color: #9a9a9a;
  font-style: italic;
}


/* Top & Header */
.top {
	height: 35px;
}

.top h1#logo {
	padding: 0px 16px 0;
	margin: 0;
        color: #333;
	font: bold 3em 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -1px;
	text-transform: lowercase;
	top: 0; left: 10px;
}
.top h1#logo span.gray  {	color: #41686a; }
.top h1#logo span.slogan {
	font: normal 50% Verdana,sans-serif;
	color: #333;
	padding-left:100px;
}
.top h1#logo span.slogan-blue {
	color:#41686a;
	padding-left: 0px;
}

#header {
  float:left;
  width:910px;
  padding: 10px 20px 0px 20px;
}

/* -- Navigation --------------------------- */
#nav {
  float: right;
  text-align: right;
}
#nav ul {
  display: inline;
}
#nav ul li {
	display: inline;
	margin: 0;
	padding: 3px;
	font-weight: bold;
}

#nav ul li a.active {
	color: #000000;
}

/* -- Content ------------------------------ */
#content {
  float:left;
  width:910px;
  margin: 20px;  
}
#content p img {
  margin-top: 2px;
  margin-right: 8px;
}
#main {
  float:left;
  width:550px;
}
#sub {
  width:310px;
  padding: 15px;
  margin: 0px 0px 10px 20px;
  float:right;
}
.half {
  float: left;
  width: 455px;
}

/* -- Footer ------------------------------- */
#footer {
  margin-top: 10px;
  clear: both;
  float: left;
  width:910px;  
  padding-top:10px;
  text-align: center;
}

#footer-margin {
  margin-top: 10px;
  clear: both;
  float: left;
  width:910px;
  padding:10px 20px 0px 20px;
  text-align: center;
}

/* -- Flashes ------------------------------ */
.flash_alert {
  color: #333;
	background: #fee;
	border: solid 1px #db7;
}
.flash_alert .message {
	padding: 0 0 0 25px;
}
.flash_notice {
	color: #333;
	background: #efe;
	border: solid 1px #bd7;
}
.flash_notice .message {
	padding: 0 0 0 25px;
}

/* -- Predictions -- */
#login, #registration {
  clear: left;
  margin-left: 10px;
  float: left;
  width:300px;
}

#login form, #login h2, #registration form, #registration h2 {
    padding-left: 10px;
}

/* -- Predictions -- */
#predictions {  
/*  clear: both;
  float: left;*/
  overflow: hidden;
  width:910px;
}

/* -- Group predictions ------------------------------- */
#matches {
  width:480px;
  display: block;
  margin-top: 10px;
  /*overflow:hidden;*/
}
.match {
  width:470px;
  color:black;
}
.match_validation_error {
   width:470px;
   color:red;
}
.home_team_name {
  width:90px;
  font-weight:bold;
  float: left;
}
.away_team_name {
  width:90px;
  font-weight:bold;
  padding-left:20px;
/*  text-align:right;*/
  float: left;
}
.team_icon {
  width:35px;
  height:20px;
  max-height:20px;
  overflow: hidden;
  margin: 3px -7px 5px 5px;
  float: left;
}
.team_score {
  width:30px;
  float: left;
}
.score-separator {
    width:5px;
    float:left;
    margin-right:5px;
    text-align: center;
    font-size:120%;
}

.team_score input {
  width:20px;
  text-align: right;
}

.space-line {
    clear:left;    
}

.match_date {
    width:100px;
    float:left;
    font-weight:bold;
    color: #41686a;/*gray;*/
}

/* Group table */
#group_table_container {
  width:440px;
  float: right;
  display: block;
  height: 200px;
}

#group_table {
  width:435px;
  border: 1px #88c6cf solid;
  overflow: hidden;
  height: 175px;
  max-height: 175px;
}

.group_table_rearrangable {
  width:430px;
  margin-top: 5px;
  color: #41686a;
  font-style: italic;
}

#not_predicted {
    background-color: #efefef;
    width:435px;
    opacity: .5;
    position: absolute;
    margin: 0px inherit;
    padding-top: 60px;
    height: 35px;
    max-height: 35px;
    text-align: center;
    padding-bottom: 80px;
    color: #52797b;
    font-size:3.3em;
    font-weight:bold;
    z-index: 2;
}

#group_table_rows {
    position: absolute;
    z-index: 1;
}

.group_table_promotion_position {
  width: 435px;
  margin: 0px 0px 0px 0px;
  height: 34px;
  background: #efe;
  border-top: 1px #88c6cf solid;
}

.group_table_non_promotion_position {
  width: 435px;
  margin: 0px 0px 0px 0px;
  height: 34px;
  background: #fee;
  border-top: 1px #88c6cf solid;
}

.group_table_header {
  width: 435px;
  margin: 1px 0px 0px 0px;
  height: 34px;
  /*border: 1px #88c6cf solid;*/
  background: #dff6f1;
  color: #333;
  font-weight: bold;
}
.group_table_pos, .pld_matches, .won_matches, .draw_matches, .lost_matches, .goals_for, .goals_against, .goal_diff, .group_table_pts, .group_table_element_handler {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding-top:9px;
}

.group_table_edit_header {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding-top:9px;
  padding-left:3px;
  color: #41686a;
}

.group_table_edit {
  width: 27px;
  float: left;
  text-align: center;
  height: 25px;
  padding-left:3px;
}

.group_table_edit_move_down {
   padding-top:10px;
   width: 10px;
   float:left;
   position:relative;
}

.group_table_edit_move_up {
   padding-top:10px;
   width: 10px;
   float:right;
   position:relative;
}

.group_table_team_name {
  width: 150px;
  text-align: left;
  float: left;
  height: 25px;
  padding-top:9px;
}
.group_table_team_name_header {
  width: 115px;
  text-align: left;
  float: left;
  padding-left: 35px;
  height: 25px;
  padding-top:9px;
}


/* -- Navigation menus styling ------------------------------- */
.main_tabnav {
	color: #000;
        background: #efe;
        border-bottom: 1px solid #88c6cf;
        clear: both;
	padding: 15px 0px 0px 0px;
}

.main_tabnav ul {
        margin: 0px;
	padding: 0px 0px 0px 0px;
}

.main_tabnav li {
	display: inline;
        margin: 0px -3px 0px 0px;
	list-style-type: none; }

.main_tabnav li span.disabled {
        color: #888888;
        background: #FAFAFA;
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;}

.main_tabnav a, main_tabnav a.active {
	color: #f0542b;
	background: #eeeeee;
        font-weight: bold;
	margin: 0;
        /*padding: 3px 5px 3px 6px;*/
        border-top: 1px solid #88c6cf;
        border-right: 1px solid #88c6cf;
	text-decoration: none; }

.main_tabnav a {
        padding: 3px 5px 1px 6px;
        /*border-bottom: 1px solid #88c6cf;*/
}

.main_tabnav a.active {
        padding: 3px 5px 3px 6px;
	color: #000000;
	background: #eeeeee;
        border-bottom: 1px solid #eeeeee;
}

.main_tabnav a:hover {
	color: #41686a;
	background: #CCCCCC; }

/*.main_tabnav a:visited {
	color: #000000; }*/

.main_tabnav a.active:hover {
	color: #000000; }

.main_tabnav_content {
	background: #eeeeee;
	padding: 0px;
}

.groups_tabnav {
	color: #000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;}

.groups_tabnav ul {
	margin: 0px;
	padding: 2px 0px 0px 0px;
}

.groups_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none; }

.groups_tabnav li span.disabled {
        color: #888888;
        background: #FAFAFA;
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;}

.groups_tabnav a, groups_tabnav a.active {
	color: #f0542b;
	background: #eeeeee;
	font-weight: bold;
	padding: 3px 5px 0px 5px;
	margin: 5px 0px 0px 0px;
	text-decoration: none; }

.groups_tabnav a.active {
	color: #000000;
        background: #eeeeee; }

.groups_tabnav a:hover {
	color: #41686a;
	background: #CCCCCC; }

/*.groups_tabnav a:visited {
	color: #000000; }*/

.groups_tabnav a.active:hover {
	color: #000000; }

/* Spiffy/rounded corners styling*/
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#C3D9FF}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #e5eeff;
  border-right:1px solid #e5eeff;
  background:#d2e2ff}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f9fbff;
  border-right:1px solid #f9fbff;
  background:#cee0ff}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #cee0ff;
  border-right:1px solid #cee0ff;}
.spiffy4{
  border-left:1px solid #e5eeff;
  border-right:1px solid #e5eeff}
.spiffy5{
  border-left:1px solid #d2e2ff;
  border-right:1px solid #d2e2ff}
.spiffyfg{
  padding: 0 5px;
  background:#C3D9FF}
