<h4>Teams in <%= stage_name %></h4>
<% unless @predictions[:stages][stage_name][:teams].empty? -%>
  <% stage = Predictable::Championship::Stage.find_by_description stage_name -%>
  <% @predictions[:stages][stage_name][:teams].each do |team| -%>
    <div class="<%= objectives_meet_div_class_for(team.objectives_meet_for[stage.id]) %>">
      <%= team.name %><br/>
    </div>
  <% end -%>
<% else -%>
  <p>Not predicted.</p>
<% end -%>