<h4>Winner of <%= title %></h4>
<% winner_team = @predictions[:stages][match][:winner_team] -%>
<% if winner_team -%>
  <div>
    <%= winner_team.name %><br/><br/>
  </div>
<% else -%>
  <p>Not predicted.</p>
<% end -%>