<h4>Winner of <%= title %></h4>
<% winner_team = @predictions[:stages][match][:winner_team] -%>
<% stage = Predictable::Championship::Stage.where(:description => stage_name).last -%>
<% match = Predictable::Championship::Match.where(:description => match).last -%>
<% if winner_team -%>
  <div class="<%= match_objectives_meet_div_class_for(winner_team, stage, match) %>">
    <%= winner_team.name %><br/><br/>
  </div>
<% else -%>
  <p>Not predicted.</p>
<% end -%>
