<div id="account_edit">
  <div id="account_edit_menu">
    <%= navigation :account_edit %>
  </div>
  <div id="account_edit_area">
    <%= render "form", :title => "Your Account Settings", :submit_text => "Update Account" %>
  </div>
</div>