<div id="account_edit">
  <%= render "account_edit_menu" %>
  <div id="account_edit_area">
    <%= render "form", :title => "Your Account Settings", :submit_text => "Update Account" %>
  </div>
</div>