<div id="registration">
  <% spiffy_corners :generate_css => false do %>
    <h2>Register</h2>

    <% form_for @user, :url => account_path do |f| %>
      <%= f.error_messages %>
      <%= @parameters if @parameters %>
      <%= render :partial => "form", :object => f %>
      <br />
      <%= f.submit "Register" %>
    <% end %>
  <% end -%>
</div>