<% if @before_contest_participation_ends -%>
  <div id="no_contests">
    <%= @high_score_list_not_available_message %>
  </div>
  <div id="contests"></div>
<% else -%>
  <%= render :partial => "grid" %>
<% end -%>
