<div id="slider">

  <!-- :target hooks -->
  <div id="a1">

    <div id="a2">
      <div id="a3">
        <div id="a4">

          <!-- 1 -->
          <a href="#a2" class="up2 default">2</a>
          <a href="#a2" class="up2">2</a>

          <!-- 2 -->
          <a href="#a1" class="down1">1</a>

          <a href="#a3" class="up3">3</a>

          <!-- 3 -->
          <a href="#a2" class="down2">2</a>
          <a href="#a4" class="up4">4</a>

          <!-- 4 -->
          <a href="#a3" class="down3">3</a>

          <ul>
            <li>
              <p class="left">Welcome! <br/>
                Predict the 2016 UEFA Euro Championship and participate in free contests with other people.<br/><br/>
                Sign up at <b>Contestadors</b> today, or sign in using your existing account with one of the companies to the right.</p>

              <div class="right_image">
                <%= image_tag ("/images/soccerball.jpg") %>
              </div>
            </li>
            <li>
              <p class="top">Predict the Soccer Tournament <br/>
              Predict the 2016 UEFA Euro Soccer Tournament outcome, including the matches and tables of the 6 groups, the teams through to the various knockout stages, as well as the winner team.</p>
              <div class="bottom_image">
                <%= image_tag("/images/knockoutstages-2.png") %>
              </div>
            </li>
            <li>
              <p class="left">Create Contests <br/>
               Create Soccer Tournament prediction contests at <b>Contestadors</b> and invite other people to join.<br/><br/>
               Alternatively, accept invitations you have received from others to join their prediction contests.
              </p>
              <div class="right_image">
                <%= image_tag("/images/dirtysoccer.jpg") %>
              </div>
            </li>
            <li>
              <p>Follow Score Updates <br/>
              During the 2016 UEFA Euro, <b>Contestadors</b> will update the prediction scores for all users having predicted the tournament. Points are added to the score according to the defined rules.<br/><br/>
              For each prediction contest created in <b>Contestadors</b>, a score table will be updated accordingly, ranking the contest participants based on their prediction scores.</p>
              <%= image_tag ("/images/cheeringcrowd.jpg") %>
            </li>
          </ul>

        </div> <!-- End #a4 -->
      </div> <!-- End #a3 -->
    </div> <!-- End #a2 -->
  </div> <!-- End #a1 -->

</div> <!-- End #slider -->















