<!-- footer -->
  <div id="footer-border"/>
  <% unless current_controller.eql? ('predictable/championship/predictions') -%>  
  <div id="footer-margin">
  <% else -%>
  <div id="footer">
    <% end -%>
    <div style="float:left;">
      <p>
        About<!--<#%= link_to 'Home', '/' %>-->
        |
        Rules<!--<#%= link_to 'About', about_path %>-->
        |
        Terms<!--<#%=link_to 'Terms', terms_path %>-->
        |
        Privacy<!--<#%= link_to 'Privacy', privacy_path %>-->
        |
        Feedback<!--<#%= link_to 'Feedback', 'http://getsatisfaction.com/albumdy' %>-->
      </p>
    </div>
    <div style="float:right;">
      <p>
        Copyright &copy; 2010 <%= mail_to "contestadors@gmail.com", "Contestadors" %>
      </p>
    </div>
</div>