<!-- footer -->
<div id="footer">
  <div style="float:left;">
    <p>
      Home<!--<#%= link_to 'Home', '/' %>-->
      |
      About<!--<#%= link_to 'About', about_path %>-->
      |
      Terms<!--<#%=link_to 'Terms', terms_path %>-->
      |
      Privacy<!--<#%= link_to 'Privacy', privacy_path %>-->
      |
      Feedback<!--<#%= link_to 'Feedback', 'http://getsatisfaction.com/albumdy' %>-->
    </p>
  </div>
  <div style="float:right;">
    <p>
      Contestadors 2009
    </p>
  </div>
</div>