<div id="header">
  <%= render "shared/logo" %>

  <% if current_user -%>
    <%= render "shared/signed_in_user_top_menu" %>

  <% else -%>

    <%= render "shared/not_signed_in_user_top_menu" %>
  <% end -%>
  
  <%= render "shared/slogan" %>
</div>
