<!-- status messages -->
<div id="message_bar">
  <noscript>
    <div id="flash" class="flash_alert" >
      <span class="message">Please ensure you have javascript enabled in your browser.</span>
    </div>
  </noscript>
  <% flash.each do |key,value| %>
    <div id="flash" class="flash_<%= key %>" >
	  <% if key.to_s == 'alert' -%>
	    <span class="message">Woops: <%= value ? value.html_safe : "An error occured" %></span>
      <% elsif key.to_s == "notice" and value -%>
	    <span class="message">Note: <%= value.html_safe %></span>
	  <% end -%>
    </div>
  <% end -%>
</div>