<div id="top_right">
  <div id="nav">
    <ul>
      <li><%= current_user.email %></li>
      |
      <% if current_controller_new 'users' %>
        <li><%= link_to "Account", edit_account_path, :class => "selected" %></li>
      <% else %>
        <li><%= link_to "Account", edit_account_path %></li>
      <% end %>
      |
      <li><%= link_to "Sign Out &raquo;".html_safe, signout_path %></li>
    </ul>
  </div>
</div>