<h3>What Contestadors Is</h3>
<p><b>Contestadors</b> allows you to predict the outcome of the FIFA World Cup 2010 Soccer Championship,
  and create contests for colleagues, friends and family to join. As the Championship starts and the matches are settled
  the application updates the scores for each contest according to the specified <%= link_to "Rules", home_path("rules") %>.
</p>
<p><b>Contestadors</b> aims to simplify the way this kind of private Championship prediction contests are arraged from
  the usual way of doing this with the means of spreadsheets and email.</p>

<!--
Tired of arranging private contests for predicting a Soccer Championship using spreadsheets and email? Then you
  don't need to look any further!
-->

<h3>What Contestadors Is Not</h3>
<p><b>Contestadors</b> is <b>NOT</b> a bookmaker. It does not facilitate any transfer of money between users of the application.
  <b>Contestadors</b> is also completely free of use, and offers no prices of any kind to the users.</p>

<h3>How It Works</h3>
<h4>Predict the World Cup</h4>
<p>Predict the outcome of the FIFA World Cup 2010 Soccer Championship, including the
matches and tables of the 8 groups, the teams through to the various knockout stages, as well as the winner
and third place teams.</p>

<!--
<ul>
  <li>The result of the matches in each of the 8 groups</li>
  <li>The teams through to the various Knockout Stages</li>
  <li>The Third Place Play-off Winner Team</li>
  <li>The Winner Team</li>
</ul>-->

<h4>Participate in Contents</h4>
<p>You might already have received invitations for contests to join. You can also create new contests and invite others
to join. In this case just provide the name and email of the people you want to invite, and invitations are sent by
the application.</p>

<h4>Follow Score Updates during the World Cup</h4>
<p>As the match results for the World Cup settles, the scores for the contests you participate in will be updated accordingly.</p>
<%= link_to "Detailed Rules &raquo;", home_path("rules") %>
