<h3>Contact and Feedback</h3>

<p>For questions, issues, suggestions or any other kind of feedback, please contact us one the following address: <%= mail_to "contestadors@gmail.com", "contestadors@gmail.com"  %> </p>

<h3>Follow on Twitter</h3>

<%= link_to image_tag("twitter-button-70.png"), "http://twitter.com/Contestadors" %>