<div id="static_content">
  <h3>Contact and Feedback</h3>

  <p>For questions, issues, suggestions or any other kind of feedback, please contact us on the following address: <%= mail_to "contestadors@gmail.com", "contestadors@gmail.com"  %> </p>

  <h3>Follow Us on Twitter</h3>

  <%= link_to image_tag("twitter-button-70.png"), "http://twitter.com/Contestadors" %>

  <br/>
  <%= link_to "Frequently Asked Questions &raquo;".html_safe, home_path("faq") %>
</div>