<div id="static_content">
  <h3>FAQ</h3>
  <h4>Why does the radio buttons for predicting the knockout stage match winners not show up in IE8?</h4>
  <p>Your are running the site in Compability Mode. This can be turned off by clicking the broken page icon
  next to the URL field. Alternatively, select "Compability View Settings" form the "Tools" menu, and remove
  "contestadors.com" from the list.</p>

  <h4>Why can I not see the other contest participants' predictions?</h4>
  <p>You will be able to see the predictions of the other contest participants when the World Cup starts. During
  the periode when users are allowed to set predictions, before the World Cup starts, their predictions will not
  be available for other users.</p>

  <h4>Why can I not deactivate participants from a contest I am the Administrator of?</h4>
  <p>You will be able to deactivate participants when the World Cup starts. Deactivated participants will not
  show up in the contest score table. For instance, you may want to deactivate participants not having completed
  their predictions or not having placed any predictions at all.</p>

  <h4>Can I sign in to my Contestadors account using different Identity Providers?</h4>
  <p>Yes, select "Account", and then "Sign In Options". Click the "Add Identity Provider For Contestadors Sign In" link,
  and select an Identity Provider in the appearing pop-up dialogue. Then sign in with your existing user for the selected
  provider. Repeate this procedure for any of the available Identity Providers you wish to sign in to Contestadors with.</p>
  <p>A point of warning here if you have more than one Contestadors account identified with different Identity Providers.
  If you add a Identity Provider, say your Twitter account, to your Contestadors account A, and already use this
  Identity Provider to sign in with Contestadors account B, account A and B will be merged into one. The effect is
  that all your contest participations for the two Contestadors accounts will be kept, but only your predictions of account A
  will be kept. Contestadors account B, with any predictions you have placed there, will be deleted in this case.</p>
</div>