<div id="static_content">
  <h3>Personal Information We Collect</h3>
  <p>The only personal information that we collect is your name, email address and password, in addition to
    your predictions of the Soccer Tournaments supported by <b>Contestadors</b>.</p>
    
  <h3>Usage of Cookies</h3>
  <p>Cookies are used to a very limited extent by <b>Contestadors</b>. Specifically, URLs for resources requiering user authentication
  are stored in cookies until a user has signed in. After signing in, the user will be redirected to the requested resource indicated
  by the URL stored in the local cookie. Thereafter, the cookie is deleted. If you do not approve of cookie usage, you should not use 
  <b>Contestadors</b>.</p>    

  <h3>Sharing of Personal Information</h3>
  <p>We do not sell, rent, or share personal information with any third parties for any reason. We may use personal
    information to assist in support to the service, and respond to user requests and inquiries. Information about your name and
    corresponding predictions of a Soccer Tournament will be available for all other participants of the contests in
    <b>Contestadors</b> you agree to participate in. Also, you must consent that your name can be displayed in the High Score Lists
    available for all <b>Contestadors</b> users in the user Account settings page. Any user not having
    explicitly given this consent will appear as 'Anonymous' in the application global High Score Lists.</p>

  <%= link_to "Contact Us &raquo;".html_safe, home_path("contact") %>
</div>
