<div id="static_content">
  <h3>Personal Information We Collect</h3>
  <p>The only personal information that we collect is your name, email address and password, in addition to
    your predictions of the 2010 FIFA World Cup.</p>

  <h3>Sharing of Personal Information</h3>
  <p>We do not sell, rent, or share personal information with any third parties for any reason. We may use personal
    information to assist in support to the service, and respond to user requests and inquiries. Information about your name and
    corresponding predictions of the Championship will be available for all other participants of the contests in
    <b>Contestadors</b> you agree to participate in.</p>

  <%= link_to "Contact Us &raquo;", home_path("contact") %>
</div>
