<h3>Prediction Rules</h3>
<p><b>Contestadors</b> allows its users to predict the outcome of the FIFA World Cup 2010 Soccer Championship,
  including the matches and tables of the 8 groups, the teams through to the various knockout stages, as well
  as the winner and third place teams. These predictions can be stored, updated and used in contests with other users
  as described in the following sections. </p>

<p>All predictions must be set at least 5 minutes before the opening match of the Championship,
  <b>South Africa - Mexico</b>, at <b>11th of June 2010, 16:00 CET</b>.
Until this time it is also possible to change the predictions as many times as desired.</p>

<h3>Contest Rules</h3>

<p>A <b>contest</b> may consist of any number of <b>Contestadors</b> users, competing against each other based on
  their corresponding Championship predictions. Any user may create a new contest. The
  user creating a contest automatically becomes its <b>administrator</b>, with the special rights of <b>inviting</b> other people
  to join the contest as <b>participants</b>. Invitations are sent on email by <b>Contestadors</b> on behalf of the contest
  administrator providing details of names and email addresses for the people to invite. If an invitation is accepted,
  the inviteé becomes a participant of the contest he or she was invited to.</p>

<p>A <b>Contestadors</b> user may participate in any number of contests, entering each with the same Championship 
  predictions. Predictions set by each contest member will become visible to all other contest participants when the
  Championship starts.</p>

<h3>Score Rules</h3>
<p>During the FIFA World Cup 2010 Soccer Championship <b>Contestadors</b> will udate a score table for each contest. A score table
  will rate the contest members according to the points they have received so far for predictions of completed matches or 
  knockout stages. Two contest members with the same prediction score will be given the same rating in the score table. </p>

<p>A score in the range of <b>0 - 500</b> points is rewarded to a user depending on how well his or hers predictions meet the 
  actual outcome of the FIFA World Cup 2010 Soccer Championship. Only objectives being predicted can add possible points to a user's
  prediction score. Thus, if a user has not completely predicted the championship, the maximum score of 500 points will not be obtainable.
  The following table shows how <b>Contestadors</b> adds points to prediction scores during the Championship:</p>

<table>
  <thead>
    <tr><th>Prediction Objective</th><th>Points Criteria</th><th>Points</th><th>Number</th><th>Total</th></tr>
  </thead>
  <tbody>
    <tr><td>Group Match Outcome</td><td>Correct match outcome predicted. Winning team or draw result must be correct.</td><td>2</td><td>48</td><td>96</td></tr>
    <tr><td>Group Match Result</td><td>Correct match result predicted. Goalscore for both teams must be correct.</td><td>3</td><td>48</td><td>144</td></tr>
    <tr><td>Group Table Position</td><td>Correct group table position for a team predicted.</td><td>2</td><td>32</td><td>64</td></tr>
    <tr><td>Teams in Round of 16</td><td>Correct team predicted in one of the Round of 16 matches.</td><td>2</td><td>16</td><td>32</td></tr>
    <tr><td>Teams in Quarter Finals</td><td>Correct team predicted in one of the Quarter final matches.</td><td>6</td><td>8</td><td>48</td></tr>
    <tr><td>Teams in Semi Finals</td><td>Correct team predicted in one of the Semi final matches.</td><td>9</td><td>4</td><td>36</td></tr>
    <tr><td>Teams in Final</td><td>Correct team predicted in the Final.</td><td>16</td><td>2</td><td>32</td></tr>
    <tr><td>Third Place Team</td><td>Correct team predicted as winner of the Third Place Play-off match.</td><td>16</td><td>1</td><td>16</td></tr>
    <tr><td>Winner Team</td><td>Correct team predicted as winner of the Final match.</td><td>32</td><td>1</td><td>32</td></tr>
  </tbody>
</table>

<%= link_to "Terms of Use &raquo;", home_path("terms") %>