<h3>Predictions</h3>
<h4>Setting Predictions</h4>
<p>All predictions must be set at least 5 minutes before the FIFA 2010 Soccer Championship opening match
South Africa - Mexico (11 June 2010, 16:00 CET).</p>


<h4>Changing Predictions</h4>
<p>All predictions can be changed until at least 5 minutes before the FIFA 2010 Soccer Championship opening match
South Africa - Mexico (11 June 2010, 16:00 CET).</p>

<h4>Viewing Predictions</h4>
<p>Predictions set by each contest participant will become visible to all other contest participants at the same
time as setting predictions stops.</p>

<h3>Contests</h3>

<p>To be added.</p>

<h3>Calculating of Scores</h3>

<p>To be added.</p>