<div id="static_content">
  <h3>Prediction Rules</h3>
  <p><b>Contestadors</b> allows its users to predict the outcome of the 2010 FIFA World Cup,
    including the matches and tables of the 8 groups, the teams through to the various knockout stages, as well
    as the winner and third place teams. These predictions can be stored, updated and used in contests with other users
    as described in the following sections. </p>

  <p>All predictions must be set at least 5 minutes before the opening match of the championship,
    <b>South Africa - Mexico</b>, at <b>11th of June 2010, 16:00, local time (UTC+2)</b>.
  Until this time it is also possible to change the predictions as many times as desired.</p>

  <h4>Group stage predictions</h4>
  <p>The results of all group matches are to be predicted. For each predicted group, the resulting
    group table might be rearranged if
    two or more teams are predicted to be tied within the group, i.e., having the same amount of points
    and goal score.</p>

  <h4>Knockout stage predictions</h4>
  <p>For the knockout stages only the teams through to the various stages are to be predicted. Thus, for the
    matches of these stages the winner teams are to be specified, not the match results.</p>
  <p>Note that predictions for the knockout stages are dependent on the group predictions. Specifically, if
    changing the predictions for a group so that the winner and/or the runner up teams are changed, any
    knockout stage predictions will automatically be deleted. In this case the knockout stages must be predicted
    again to complete the World Cup predictions.</p>

  <h3>Contest Rules</h3>

  <p>A <b>contest</b> may consist of any number of <b>Contestadors</b> users, competing against each other based on
    their corresponding predictions of the World Cup. Any user may create new contests. The
    user creating a contest automatically becomes its <b>administrator</b>, with the special rights of <b>inviting</b> other people
    to join the contest as <b>participants</b>. A participant having joined a contest after receiving an invitation from its administrator
    is said to be a contest <b>member</b>. Both the administrator of a contest and its invited members are referred to as participants.</p>

  <p>Invitations are sent on email by <b>Contestadors</b> on behalf of the contest
    administrator providing details of names and email addresses for the people to invite as members. If an invitation is accepted,
    the inviteé becomes a participant of the contest he or she was invited to. A person, identified by his or hers email, can only be
    invited once for each contest. Furthermore, the administrator of a contest is not allowed to invite him- or herself as a regular contest
    member by providing the email of his or hers user account. I.e., a participant can only have one role in the contest, either as
    administrator or member.</p>

  <p>A <b>Contestadors</b> user may participate in any number of contests, entering each with the same Championship
    predictions. Predictions set by each contest member will become visible to all other contest participants when the
    Championship starts.</p>

  <h3>Score Rules</h3>
  <p><b>Contestadors</b> will udate a <b>score table</b> for each contest during the 2010 FIFA World Cup. A score table
    will rank the contest participants according to the points they have received so far for predictions of completed matches and
    knockout stages. Two contest members with the same prediction score will be given the same ranking in the score table. </p>

  <p>A contest administrator may <b>deactivate</b> participants, including him- or herself, with the effect that the deactivated participants
  will not appear in the contest score table. E.g., participants not having predicted the World Cup completely might be disqualified from the
  contest if the administrator decides to do so. However, this function is reversible. I.e., the administrator might <b>reactivate</b> participants that
  have been deactivated earlier, making these participants once again appear in the contest score table.</p>

  <p>A score in the range of <b>0 - 500</b> points is rewarded to a user depending on how well his or hers predictions meet the
    actual outcome of the 2010 FIFA World Cup. Only objectives being predicted can add possible points to a user's
    prediction score. Thus, if a user has not completely predicted the World Cup, the maximum score of 500 points will not be obtainable.
    The following table shows how <b>Contestadors</b> adds points to prediction scores during the Championship:</p>

  <table>
    <thead>
      <tr><th>Prediction Objective</th><th>Points Criteria</th><th>Points</th><th>Number</th><th>Total</th></tr>
    </thead>
    <tbody>
      <tr><td>Group Match Outcome</td><td>Correct match outcome predicted. Winning team or draw result must be correct.</td><td>2</td><td>48</td><td>96</td></tr>
      <tr><td>Group Match Result</td><td>Correct match result predicted. Goalscore for both teams must be correct.</td><td>3</td><td>48</td><td>144</td></tr>
      <tr><td>Group Table Position</td><td>Correct group table position for a team predicted.</td><td>2</td><td>32</td><td>64</td></tr>
      <tr><td>Teams in Round of 16</td><td>Correct team predicted in one of the Round of 16 matches.</td><td>2</td><td>16</td><td>32</td></tr>
      <tr><td>Teams in Quarter Finals</td><td>Correct team predicted in one of the Quarter final matches.</td><td>6</td><td>8</td><td>48</td></tr>
      <tr><td>Teams in Semi Finals</td><td>Correct team predicted in one of the Semi final matches.</td><td>9</td><td>4</td><td>36</td></tr>
      <tr><td>Teams in Final</td><td>Correct team predicted in the Final.</td><td>16</td><td>2</td><td>32</td></tr>
      <tr><td>Third Place Team</td><td>Correct team predicted as winner of the Third Place Play-off.</td><td>16</td><td>1</td><td>16</td></tr>
      <tr><td>Winner Team</td><td>Correct team predicted as winner of the Final.</td><td>32</td><td>1</td><td>32</td></tr>
    </tbody>
  </table>

  <%= link_to "Terms of Use &raquo;", home_path("terms") %>
</div>