<h3>Terms of Service</h3>
<p><b>Contestadors</b> provides this website (the "Site") and the services (the "Services") allowing the users to predict
  the outcome of the FIFA World Cup 2010 Soccer Championship (the "Championship"), and participate in contests with other users as described
  in more details on the <%= link_to "Rules", home_path("rules") %> page. <b>Contestadors</b> is completely non-commercial,
  charging no fees for the use of the Services, and facilitating no money transfer between the Site and its users. This Site 
  and its Services are intended for your convenience and entertainment only.
</p>

<p>By registering as a user or by using <b>Contestadors</b>, you agree to be bound by the terms stated in the following 
  sections of this page as well as the <%= link_to "Privacy", home_path("privacy") %> policies. If you do not agree to
  these terms and conditions, you should not use <b>Contestadors</b>.</p>

<h3>Terms of Use</h3>
<p>You are required to register as an user in order to fully benefit from the Services.
  This is required so we can provide you with easy access to place and modify your predictions of the Championship,
  and to join contests with other users of the Services.</p>
<p>By registering for the Services, you represent and warrant that
  (a) all registration information you submit is truthful and accurate;
  (b) you will maintain the accuracy of such information; and
  (c) your use of the Site does not violate any applicable law or regulation in your current territory of residence. </p>

<h3>Beta Service Disclaimer</h3>
<p>The Services are presently made available in a Beta test version. You acknowledge and agree that:
  (a) the Services may contain errors, design flaws, or other problems;
  (b) the Services may not operate properly, be in final form or be fully functional;
  (c) it may not be possible to make the Services fully functional;
  (d) the information obtained using the Services may not be accurate; and
  (e) the development and support of the Services may be stopped, at any time and without any obligation or liability to you.
</p>

<p>In spite of this disclaimer, rest assured that reasonable efforts and skills are put to work in order to keep the Services
  as accurate and reliable as possible. Also, no plans exists of abandoning the development or support of the Services in the
  imidiate future.</p>

<!--
<h3>Disclaimer of Warranties</h3>
<p>YOUR USE OF THE SERVICES AND SERVICES CONTENT, AND YOUR INTERACTIONS WITH AND DEALING WITH OTHER USERS OF OUR SERVICES, 
  IS AT YOUR SOLE RISK. THE SERVICES AND SERVICES CONTENT ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.
  WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE
  IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT.
  WE DO NOT GUARANTEE THE ACCURACY, COMPLETENESS, TIMELINESS, OR USEFULNESS OF THE SERVICES AND SERVICES CONTENT, AND YOU
  RELY ON THE SERVICES AND SERVICES CONTENT AT YOUR OWN RISK.  WE EXPRESSLY DISCLAIM ANY WARRANTIES FOR OTHER GOODS OR SERVICES
  RECEIVED THROUGH OR ADVERTISED ON OUR SERVICES OR ACCESSED THROUGH OR IN CONNECTION WITH OUR SERVICES.
  ANY INFORMATION, ITEMS, OR OTHER MATERIALS USED OR OBTAINED IN CONNECTION WITH YOUR USE OF THE SERVICES IS DONE AT YOUR
  OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY LOSS OR DAMAGE THAT YOU OR THIRD PARTIES MAY SUFFER
  IN CONNECTION WITH YOUR USE OF THE SERVICES AND ANY INFORMATION, ITEMS, OR OTHER MATERIALS USED OR OBTAINED IN CONNECTION
  WITH YOUR USE OF THE SERVICES.  NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM US OR THROUGH OR
  FROM THE SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS AGREEMENT.  SOME STATES MAY PROHIBIT A DISCLAIMER
  OF WARRANTIES AND YOU MAY HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE.</p>
-->

<%= link_to "Private Policy &raquo;", home_path("privacy") %>
