<div id="static_content">
  <h3>Terms of Service</h3>
  <p><b>Contestadors</b> provides this website (the "Site") and the services (the "Services") allowing the users to predict
    the outcome of the 2010 FIFA World Cup (the "World Cup"), and participate in contests with other users as described
    in more details on the <%= link_to "Rules", home_path("rules") %> page. <b>Contestadors</b> is completely non-commercial,
    charging no fees for the use of the Services, and facilitating no money transfer between the Site and its users. This Site
    and its Services are intended for your convenience and entertainment only.
  </p>

  <p>By registering as a user or by using <b>Contestadors</b>, you agree to be bound by the terms stated in the following
    sections of this page as well as the <%= link_to "Privacy", home_path("privacy") %> policies. If you do not agree to
    these terms and conditions, you should not use <b>Contestadors</b>.</p>

  <p>Please note that <b>Contestadors</b> is an independent and unofficial site. It is neither affiliated with, nor endorsed by FIFA.</p>

  <h3>Terms of Use</h3>
  <p>You are required to register as a user in order to fully benefit from the Services.
    This is required so we can provide you with easy access to place and modify your predictions of the World Cup,
    and to join contests with other users of the Services.</p>
  <p>By registering for the Services, you represent and warrant that
    (a) all registration information you submit is truthful and accurate;
    (b) you will maintain the accuracy of such information; and
    (c) your use of the Site does not violate any applicable law or regulation in your current territory of residence. </p>
  
  <h3>Beta Service Disclaimer</h3>
  <p>The Services are presently made available in a Beta test version. You acknowledge and agree that:
    (a) the Services may contain errors, design flaws, or other problems;
    (b) the Services may not operate properly, be in final form or be fully functional;
    (c) it may not be possible to make the Services fully functional;
    (d) the information obtained using the Services may not be accurate; and
    (e) the development and support of the Services may be stopped, at any time and without any obligation or liability to you.
  </p>

  <%= link_to "Privacy Policy &raquo;", home_path("privacy") %>
</div>
