<% if @no_invitations_message -%>
  <div id="no_invitations">
    <%= @no_invitations_message %>
  </div>
  <div id="invitations"></div>
<% else -%>
    <%= grid(@contest_invitations_grid, :show_filters => :no) do |g|
      g.column :column_name => 'Contest', :attribute_name => 'name', :model_class => ContestInstance do |invitation| # joined table
        link_to(invitation.contest_instance.name, contest_instance_menu_link(invitation.contest_instance))
      end

      g.column :column_name => 'Invited by', :attribute_name => 'name', :model_class => User do |invitation| # joined table
        invitation.sender.name
      end

      g.column :column_name => 'Received on', :attribute_name => 'created_at' do |invitation| # joined table
        invitation.created_at.to_s(:short)
      end

      g.column :column_name => 'Accepted on', :attribute_name => 'created_at', :model_class => Participation do |invitation| # joined table
        invitation.participation.created_at.to_s(:short)
      end
    end -%>
<% end %>