<div id="static_content">
  <p>A <b>contest</b> may consist of any number of <b>Contestadors</b> users, competing against each other based on
    their corresponding predictions of the World Cup. Any user may create new contests. The
    user creating a contest automatically becomes its <b>administrator</b>, with the special rights of <b>inviting</b> other people
    to join the contest as <b>participants</b>. A participant having joined a contest after receiving an invitation from its administrator
    is said to be a contest <b>member</b>. Both the administrator of a contest and its invited members are referred to as participants.</p>

  <p>Invitations are sent on email by <b>Contestadors</b> on behalf of the contest
    administrator providing details of names and email addresses for the people to invite as members. If an invitation is accepted,
    the inviteé becomes a participant of the contest he or she was invited to. A person, identified by his or hers email, can only be
    invited once for each contest. Furthermore, the administrator of a contest is not allowed to invite him- or herself as a regular contest
    member by providing the email of his or hers user account. I.e., a participant can only have one role in the contest, either as
    administrator or member.</p>
    
  <p>In addition to invitating new contest members by emails sent by <b>Contestadors</b>, an administrator may also allow people to join a contest through a dedicated 
    <b>Join contest URL</b>. This way of joining a contest is providing by checking the 'Allow people to join the contest without an invitation email...' checkbox on 
    the Create or Edit contest page. The resulting Join contest URL may be included in a manually sent email or posted to a internet or intranet site. A person clicking the Join URL 
    is required to sign in or create a new <b>Contestadors</b> account, and finally confirm that they want to join the contest by clicking a 'Join contest' button.</p>    

  <p>A <b>Contestadors</b> user may participate in any number of contests, entering each with the same Championship
    predictions. Predictions set by each contest member will become visible to all other contest participants when the
    Championship starts.</p>
</div>
