<div id="static_content">
  <p><b>Contestadors</b> will udate a <b>score table</b> for each contest during the 2010 FIFA World Cup. A score table
    will rank the contest participants according to the points they have received so far for predictions of completed matches and
    knockout stages. Two contest members with the same prediction score will be given the same ranking in the score table. </p>

  <p>A contest administrator may <b>deactivate</b> participants, including him- or herself, with the effect that the deactivated participants
  will not appear in the contest score table. E.g., participants not having predicted the World Cup completely might be disqualified from the
  contest if the administrator decides to do so. However, this function is reversible. I.e., the administrator might <b>reactivate</b> participants that
  have been deactivated earlier, making these participants once again appear in the contest score table.</p>

  <p>A score in the range of <b>0 - 500</b> points is rewarded to a user depending on how well his or hers predictions meet the
    actual outcome of the 2010 FIFA World Cup. Only objectives being predicted can add possible points to a user's
    prediction score. Thus, if a user has not completely predicted the World Cup, the maximum score of 500 points will not be obtainable.
    The following table shows how <b>Contestadors</b> adds points to prediction scores during the Championship:</p>

  <table>
    <thead>
      <tr><th>Prediction Objective</th><th>Points Criteria</th><th>Points</th><th>Number</th><th>Total</th></tr>
    </thead>
    <tbody>
      <tr><td>Group Match Outcome</td><td>Correct match outcome predicted. Winning team or draw result must be correct.</td><td>2</td><td>48</td><td>96</td></tr>
      <tr><td>Group Match Result</td><td>Correct match result predicted. Goalscore for both teams must be correct.</td><td>3</td><td>48</td><td>144</td></tr>
      <tr><td>Group Table Position</td><td>Correct group table position for a team predicted.</td><td>2</td><td>32</td><td>64</td></tr>
      <tr><td>Teams in Round of 16</td><td>Correct team predicted in one of the Round of 16 matches.</td><td>2</td><td>16</td><td>32</td></tr>
      <tr><td>Teams in Quarter Finals</td><td>Correct team predicted in one of the Quarter final matches.</td><td>6</td><td>8</td><td>48</td></tr>
      <tr><td>Teams in Semi Finals</td><td>Correct team predicted in one of the Semi final matches.</td><td>9</td><td>4</td><td>36</td></tr>
      <tr><td>Teams in Final</td><td>Correct team predicted in the Final.</td><td>16</td><td>2</td><td>32</td></tr>
      <tr><td>Third Place Team</td><td>Correct team predicted as winner of the Third Place Play-off.</td><td>16</td><td>1</td><td>16</td></tr>
      <tr><td>Winner Team</td><td>Correct team predicted as winner of the Final.</td><td>32</td><td>1</td><td>32</td></tr>
    </tbody>
  </table>
</div>