<div id="group_table">
    <%= render :partial => 'group_table_header'-%>
    <%= render :partial => 'group_table_element', :collection => @group.table_positions.sort{|a,b| a.pos <=> b.pos} -%>
</div>

