<div id="group">
  <%= render :partial => p_pref('group_table') %>
  <%= render :partial => p_pref('group_matches') %>
</div>
<div class="match_kick_off_time_descr" style="float: left; display: block;">
  All match kick-off times are local time (<%= link_to "UTC-3", "http://en.wikipedia.org/wiki/UTC-3" %>).
</div>
<% if !current_user or @before_contest_participation_ends -%>
  <div style="float: left; display: block;">
    <%= form.submit "Save" %>
  </div>
<% end -%>

