<div class="group_table_header">
  <div class="group_table_pos">Pos</div>
  <div class="group_table_team_name_header">Team</div>
  <div class="pld_matches">Pld</div>
  <div class="won_matches">W</div>
  <div class="draw_matches">D</div>
  <div class="lost_matches">L</div>
  <div class="goals_for">GF</div>
  <div class="goals_against">GA</div>
  <div class="goal_diff">GD</div>
  <div class="group_table_pts">Pts</div>
  <div class="group_table_edit_header">
    <%= "Edit" if @aggregate.is_rearrangable? %>
  </div>
</div>
