<% is_match_winner = (team.is_through_to_next_stage?(current_stage) or (match.winner and team.id.eql?(match.winner.id))) %>
<div class="<%= (selected == false and not is_match_winner) ? "losing_" : ""%>knockout_stage_team">
  <div class="team_icon">
    <%= image_tag("/images/flags/"+ team.country_flag+ ".png") %>
  </div><%= team.name %>
  <% if selected -%>
    <div class="knockout_stage_team_selection">
      <% checked = (match.winner ? is_match_winner : match.home_team.eql?(team)) -%>
      <%= match_form.radio_button("winner", team.id, :checked => checked) %>
    </div>
  <% end -%>
</div>
