<div class="knockout_stage_match_container">
  <div class="match_date"><%= match.play_date.to_s(:short) %></div>
  <% if predicted == true -%>

    <div class="knockout_stage_match">
      <% prefix = "stage[new_predictions][]" %>
      <%= fields_for prefix, match do |match_form| %>
        <%= render :partial => p_pref('predicted_stage_team'), :locals => {:match => match, :team => match.home_team, :selected => selected, :invalidated => invalidated, :match_form => match_form, :current_stage => stage} %>
        <%= render :partial => p_pref('predicted_stage_team'), :locals => {:match => match, :team => match.away_team, :selected => selected, :invalidated => invalidated, :match_form => match_form, :current_stage => stage} %>
      <% end -%>
    </div>
  <% else -%>
    <div class="undecided_knockout_stage_match">
      <div class="undecided_knockout_stage_team">Not Predicted</div>
      <div class="undecided_knockout_stage_team">Not Predicted</div>
    </div>
  <% end -%>
</div>
