<div id="predictions">
  
  <% if @aggregate_root_type.eql?(:group) -%>
    <%= render :partial => 'group_table', :locals => {:group => @aggregate_root} %>
    <%= render :partial => 'group_matches', :locals => {:group => @aggregate_root} %>
  <% elsif @aggregate_root_type.eql?(:stage) -%>
    <% @stages.each do |stage| -%>
      <%= render :partial => 'knockout_stage_matches', :locals => {:stage => stage} %>
    <% end -%>
  <% end -%>
</div>