<div id="predictions">  
  <% form_for @aggregate_root_type, @aggregate_root,
     :url => predictions_url(@aggregate_root_type.to_s, @aggregate_root_id) do |f| %>
    <%= render :partial => prediction_template(@aggregate_root_type), :locals => {:form => f} %>
  <% end -%>  
</div>