<div id="predictions">
  <%= render :partial => 'group_table' %>
  <div id="matches">
    <% form_for predictions_url("group", @group.name) do |f| %>
      <%= render :partial => 'match', :collection => @group.matches %>
    <% end -%>
  </div>  
</div>