<div id="group">
  <%= render :partial => p_pref('group_table') %>
  <%= render :partial => p_pref('group_matches') %>
</div>
<% if !current_user or @before_contest_participation_ends -%>
  <div stryle="float:left">
    <%= form.submit "Save" %>
  </div>
<% end -%>
<div class="match_kick_off_time_descr" style="">
  All match kick-off times are local time (<%= link_to "UTC+1", "http://en.wikipedia.org/wiki/UTC+1" %>).
</div>

