<div id="group">
  <%= render :partial => p_pref('group_table') %>
  <%= render :partial => p_pref('group_matches') %>
</div>
<% if !current_user or @before_contest_participation_ends -%>
  <%= form.submit "Save" %>
<% end -%>