<div id="group_table_container">
  <div id="group_table">
    <% if @aggregate.unpredicted? -%>
      <div id="not_predicted">Not Predicted</div>
    <% elsif @aggregate.invalid? -%>
      <div id="not_predicted">Invalid Predictions</div>
    <% end -%>
    <div id="group_table_rows">
        <%= render :partial => p_pref('group_table_header')-%>
        <%= render :partial => p_pref('group_table_element'), :collection => @aggregate.root.table_positions, :locals => {:group => @aggregate.root} -%>
    </div>
  </div>
  <% if @aggregate.is_rearrangable? and @before_contest_participation_ends -%>
    <div class="group_table_rearrangable">
      Teams with the same score can be rearranged using the arrows to the right.
    </div>
  <% end -%>
</div>
