<div class="euro_knockout_stages">
  <% @result.all_roots.each do |stage| -%>
    <%= render :partial => p_pref('knockout_stage_matches'), :locals => {:stage => stage, :form => form} %>
  <% end -%>
</div>
<% winner_team = current_user.winner_prediction_for(@contest) %>
<% div_class = winner_team ? "euro_winner_predicted" : "euro_winner_unpredicted" %>
<% predicted_winner = winner_team ? winner_team.name : "Not Predicted" %>
<div class="<%= div_class %>">
  Winner: <%= predicted_winner %>
</div>